<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key ="jdkpath" value="C:\Program Files\Java\jdk1.8.0_171"/>
  <add key ="gccpath" value ="F:\Project\Test\MinGW\"/>
  <add key ="CSpath" value ="C:\Windows\Microsoft.NET\Framework64\v3.5"/>
  <add key ="Pythonpath" value ="C:\Users\Indranil Dutta\AppData\Local\Programs\Python\Python37-32"/>
  </appSettings>
</configuration>